extends layoutGeo

block content
  .row(style='padding-top:5px')
    .col-md-2(style='padding-right:0')
      ul(class="nav nav-pills nav-stacked",style='background:#fff')
          li.active(role='presentation',class='tabResidencias') 
            a(href='todos',role='tab', data-toggle='tab') TODOS
          if estado==true
            - for (var x=0;x<residencias.length;x++)
                li(role='presentation',class='tabResidencias')
                  a(href=''+residencias[x].nombreres+'',role='tab',data-toggle='tab') #{residencias[x].nombreres}
          else
            h1 no hay nada de este año
    .col-md-10(style='padding:0')
      .tab-content
        #todos.tab-pane.active(role='tabpanel',style='display:none')
          table.table.table-bordered(id='tablaLocTRresidencias')
            -var aux=0
            - for (var x=0;x<residencias.length;x++)
              - for (var y=0;y<residencias[x].userids.length;y++)
                tr(id='fila'+aux+'')
                  - aux++
                  td(class="idL") #{residencias[x].userids[y]}
                  td(class="ciL") #{residencias[x].usercis[y]}
                  td(class="nomL") #{residencias[x].usernombres[y]}
                  td(class="latL") #{residencias[x].latitudes[y]}
                  td(class="lonL") #{residencias[x].longitudes[y]}
        - for (var x=0;x<residencias.length;x++)
          .tab-pane(role='tabpanel',id=residencias[x].nombreres,style='display:none')
            table(id='tablaLocTRresidencias')
              - for (var y=0;y<residencias[x].userids.length;y++)
                tr(id='fila'+y+'')
                  td(class="idL") #{residencias[x].userids[y]}
                  td(class="ciL") #{residencias[x].usercis[y]}
                  td(class="nomL") #{residencias[x].usernombres[y]}
                  td(class="latL") #{residencias[x].latitudes[y]}
                  td(class="lonL") #{residencias[x].longitudes[y]}
        .col-md-12(style='padding-left:0')
            #mimapa(style="height:86vh")
    script(src="/javascripts/bootstrap.min.js")