extends layoutGeo

block content
    .MenuArriba2
        nav
            ul
                li
                    a(href='#') INICIO GEOLOCALIZACION
                li
                    a(href='#') RESIDENCIAS
                li
                    a(href='#') PERSONAL - VEHICULO
                li
                    a(href='#') INICIO
                li
                    a(href='#') MENSAJES
                li
                    a(href='#') REPORTES
                li
                    a(href='#') SALIR
    .ventanaModal
        .contenido
            h1 ADMINISTRADOR
            .cajaMensajes
            .cajaFormulario
                form(method="post")
                    .navi
                        ul
                            li.texto
                                input(type='text',size='50', val="Escribe tu mensaje",id="etMensaje")
                            li.boton
                                input(type="submit", value="Enviar",id="btnMensaje")
    .bodyNoticias
        .formNoticia
            form(method="post")
                .navii
                    ul
                        li.etNoticia
                            textarea(placeholder='Publicar Noticia..', id='textNoticiaNew')
                        li.btnNoticia
                            input(type="submit", value="Enviar", id='btnNoticiaNew')
        h1 NOTICIAS
        .noticias
            -for(var i=NombreNoti.length-1;i>=0;i--)
                .cajaNoticia
                    .cajaPosicion
                        strong #{NombreNoti[i]}
                        span #{cargoNoti[i]}
                        span.fecha #{fechNoti[i]}
                        p #{descNoti[i]}