extends layout2

block content
    ul.nav.nav-tabs.nav-justified(role='tablist',style="padding-bottom:0px;padding-top:80px;background:#fff")
        li(role='presentation') 
          a(href='#general', aria-controls='general', role='tab', data-toggle='tab') GENERAL
        li(role='presentation')
          a(href='#tramos', aria-controls='tramos', role='tab', data-toggle='tab') TRAMOS
        li(role='presentation')
          a(href='#actividades', aria-controls='actividades', role='tab', data-toggle='tab') ACTIVIDADES
        li(role='presentation')
          a(href='#personal', aria-controls='personal', role='tab', data-toggle='tab') PERSONAL
        li(role='presentation')
          a(href='#vehiculos', aria-controls='vehiculos', role='tab', data-toggle='tab') VEHICULOS
        li(role='presentation')
          a(href='#materiales', aria-controls='materiales', role='tab', data-toggle='tab') MATERIALES
        li(role='presentation')
          a(href='#servicios', aria-controls='servicios', role='tab', data-toggle='tab') SERVICIOS
    h1(id='latitud',style='display:none')=residencias[0].latitud
    h1(id='longitud',style='display:none')=residencias[0].longitud
    .tab-content
      #general.tab-pane.active(role='tabpanel')
        .row(id='menuResidenciasGeneral',style='background:#fff') 
          .col-md-7
            .row(style='background:rgba(19, 154, 79, 0.72);')
              .col-md-4
                img(src='/images/home.png')
                .form-group.has-success.has-feedback(style='padding-bottom:10px;padding-top:15px;margin:0 auto;display:none',id='formRegistroResidencia')
                  input#inputSuccess3.form-control(type='text',placeholder='Ejemplo: Acasio', aria-describedby='inputSuccess3Status',value=residencias[0].nombre)
                  span.glyphicon.glyphicon-ok.form-control-feedback(aria-hidden='true',style='padding-top:15px')
                  .list-group.col-sm-12.col-xl-12(style='display:none',id='listaresidencianuevo')

                h2.nombreresidencia #{residencias[0].nombre}
                p Nombre de la residencia
              .col-md-4
                img(src='/images/user.png')
                h2 #{residencias[0].cantidaduser}
                p Cantidad de personal
              .col-md-4
                img(src='/images/mobile.png')
                h2 #{residencias[0].cantidadcar}
                p Cantidad de vehiculos
              .col-md-4
                img(src='/images/route.png')
                h2 #{residencias[0].cantidadtramos}
                p Cantidad de tramos
              .col-md-4
                img(src='/images/money.png')
                h2 #{residencias[0].costototal}
                p Costo total (Bs)
              .col-md-4
                img(src='/images/long.png')
                h2 #{residencias[0].longitudtotal}
                p Longitud total (Km)
            .row
              if residencias[0].estadoR=='desabilitado'
                if tramos[0].estado==true&&personal[0].estado==true&&vehiculos[0].respuesta==true
                  .col-md-4.col-md-offset-1
                    button.btn.btn-danger.btn-lg(class="btn btnHabilitarResidencia" role="button",data-toggle="tooltip",data-placement="top",title="HABILITAR",style='text-align:center;margin: 0 auto;display:block;' disabled) DESABILITADO
                else
                  .col-md-4.col-md-offset-1
                    button.btn.btn-danger.btn-lg(class="btn btnHabilitarResidencia" role="button",data-toggle="tooltip",data-placement="top",title="AUN NO PUEDE HABILITAR LA RESIDENCIA",style='text-align:center;margin: 0 auto;display:block;' disabled) DESABILITADO
              else
                .col-md-4.col-md-offset-1
                  button.btn.btn-success.btn-lg(class="btn btnHabilitarResidencia" role="button",data-toggle="tooltip",data-placement="top",title="DESABILITAR",style='text-align:center;margin: 0 auto;display:block;') HABILITADO
              .col-md-4.col-md-offset-2
                .btn-group.dropup#btngrupomodificar
                  button.btn.btn-warning.btn-lg(type='button' class="btn btnmodificarresidencia" role="button" style='text-align:center;margin: 0 auto;display:block;') MODIFICAR
                  
                //button(class="btn btnmodificarresidencia" role="button",id='btnradioverde',style='text-align:center;margin: 0 auto;display:block;') MODIFICAR

          .col-md-5(style='background:#fff;padding-left:0')
            #mimapa(style="height:68vh;")
            h4(style='padding-left:10px;padding-right:10px') UBICACION:
              small(style='padding-left:5px') #{residencias[0].ubicacion}
        .row(style='background:#fff')
      
      #tramos.tab-pane(role='tabpanel')
        h1.resultadoRegistroVehiculo(style='display:none') #{estado}
        .row(style='background:#fff;padding-bottom:30px;padding-top:30px')
          table.table.table-responsive(style="width:85%;margin:0 auto;background:#fff")
                thead
                  tr
                    td N°
                    td DESCRIPCION TRAMOS
                    td CANTIDAD DE ACTIVIDADES
                    td LONGITUD Km
                    td COSTO TOTAL Bs
                    td EDITAR
                tbody
                  if tramos[0].estado == true
                    - for (var x=0;x<tramos.length;x++)
                      if x%2
                        tr(class='filatramo'+tramos[x].idtramo[x]+' info' )
                          td #{x+1}
                          td(class="descripciont") #{tramos[x].descripcion[0]}
                          td(id="cantidadactividadest") 0
                          td(id="longitudt") #{tramos[x].longitud[0]}
                          td(id="costototalt") #{tramos[x].costototal[0]}
                          td
                            button.btn.btn-warning.btneditartramo(type='button', aria-label='Left Align' data-toggle='modal', data-target='#modalinfotramo',value= tramos[x].idtramo[x])
                              span.glyphicon.glyphicon-pencil(aria-hidden='true')
                      else
                        tr(class='filatramo'+tramos[x].idtramo[x]+'')
                          td #{x+1}
                          td(class="descripciont") #{tramos[x].descripcion[0]}
                          td(id="cantidadactividadest") 0
                          td(id="longitudt") #{tramos[x].longitud[0]}
                          td(id="costototalt") #{tramos[x].costototal[0]}
                          td
                            button.btn.btn-warning.btneditartramo(type='button', aria-label='Left Align' data-toggle='modal', data-target='#modalinfotramo' value= tramos[x].idtramo[x])
                              span.glyphicon.glyphicon-pencil(aria-hidden='true')
                  else
                    .row(style='background:#fff')
                      .col-md-8.col-md-offset-2
                        .alert.alert-danger.alert-dismissible(role='alert',id='alertaSamError',style='margin:20px;')
                          button.close(type='button', data-dismiss='alert', aria-label='Close')
                            span(aria-hidden='true') ×
                          strong NO SE ENCONTRARON RESULTADOS!
                          |  Registre Tramos en las residencias para dar de alta la residencia 
        .row(style='background:rgba(241, 196, 15, .8);padding-bottom:50px;')
          .col-md-12
            .form-horizontal(style='margin-top:30px;',id='formTramo')
              .form-group
                h1(style='color:#fff;font-weight:600;margin-bottom:20px') REGISTRAR NUEVO TRAMO
              - for(var i=0;i<20;i++)
                  if i==0
                    .form-group.has-error.has-feedback.formulariotramo(id='tramoinput'+i+'')
                      label.col-sm-2.col-sm-offset-2.control-label descripcion del tramo
                      .col-sm-5
                        input.form-control.input-lg(type='text', placeholder='Ejemplo: Palala - San Pablo de Lipez',id=('t'+i+''))
                        span(class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true")
                  else
                    .form-group.has-error.has-feedback.formulariotramo(style='display:none',id='tramoinput'+i+'')
                      label.col-sm-2.col-sm-offset-2.control-label descripcion del tramo
                      .col-sm-5
                        input.form-control.input-lg(type='text', placeholder='Ejemplo: Palala - San Pablo de Lipez',id=('t'+i+''))
                        span(class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true")
              .form-group
                .col-sm-offset-4.col-sm-10
                  button.btn.btn-danger.disabled.btn-lg(type='button' id='btnRegistroTramo' data-loading-text="Enviando Registro..." autocomplete="off") REGISTRAR TRAMO
        #modalinfotramo.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
          .modal-dialog(role='document')
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
                h4#myModalLabel.modal-title Modificar Tramos de Residencia
              .modal-body(style='height:100%')
                label.col-sm-3.control-label(style='padding:0') Descripción del tramo
                .col-sm-9(style='padding:0')
                    input.form-control.descripcionT.input-lg(type='text', placeholder='Escriba el nombre del tramo')
                    span(class="glyphicon glyphicon-remove form-control-feedback spantramo")
              .modal-footer
                button.btn.btn-primary.btnguardareditartramo(type='button' disabled) GUARDAR CAMBIOS
                button.btn.btn-danger.btneliminareditartramo(type='button') ELIMINAR
      #actividades.tab-pane(role='tabpanel',style='background:#fff')
        .row
          .col-md-2(style='padding-right: 0')
            ul(class="nav nav-pills nav-stacked",style='background:#fff')
              if tramos[0].estado==true
                - for (var x=0;x<tramos.length;x++)
                  if x!=0
                    li(role='presentation')
                      a(href='#tramo'+x+'', aria-controls='acasio', role='tab', data-toggle='tab') #{tramos[x].descripcion[0]}
                  else
                    li.active(role='presentation')
                      a(href='#tramo'+x+'', role='tab', data-toggle='tab') #{tramos[x].descripcion[0]}
          .col-md-10(style='padding:0')
            .tab-content(style='padding-top:30px;padding-bottom:30px;')
              if tramos[0].estado==true
                - for (var z=0;z<tramos.length;z++)
                  if z==0
                    .tab-pane.active(role='tabpanel',id='tramo'+z+'')
                      table.table.table-responsive(style="width:90%;margin:0 auto;background:#fff")
                        thead
                          tr
                            td N°
                            td CODIGO
                            td DESCRIPCION ITEM
                            td UNIDAD
                            td CANTIDAD
                            td PRECIO UNITARIO
                            td TOTAL
                        tbody
                            if tramos[z].estadoactividad==true
                              - for (var y=0;y<tramos[z].codsam.length;y++)
                                if y%2
                                  tr.info
                                    td #{y+1}
                                    td(id="codsama") #{tramos[z].codsam[y]}
                                    td(id="descripciona") #{tramos[z].descripcionsam[y]}
                                    td(id="unidada") #{tramos[z].unidadsam[y]}
                                    td(id="cantidada") #{tramos[z].cantidad[y]}
                                    td(id="precioa") #{tramos[z].presiounitario[y]}
                                    td(id="totala") #{tramos[z].cantidad[y]*tramos[z].presiounitario[y]}
                                else
                                  tr
                                    td #{y+1}
                                    td(id="codsama") #{tramos[z].codsam[y]}
                                    td(id="descripciona") #{tramos[z].descripcionsam[y]}
                                    td(id="unidada") #{tramos[z].unidadsam[y]}
                                    td(id="cantidada") #{tramos[z].cantidad[y]}
                                    td(id="precioa") #{tramos[z].presiounitario[y]}
                                    td(id="totala") #{tramos[z].cantidad[y]*tramos[z].presiounitario[y]}
                            else
                              .row(style='background:#fff;width:80%;margin:0 auto')
                                .col-md-12
                                  .alert.alert-danger.alert-dismissible(role='alert',id='alertaSamError',style='margin:20px;')
                                    button.close(type='button', data-dismiss='alert', aria-label='Close')
                                      span(aria-hidden='true') ×
                                    strong NO SE ENCONTRARON RESULTADOS!
                                    |  Aun no se registro las actividades para esta residencia.. Pongase en contacto con el encargado de residencia.
                  else
                    .tab-pane(role='tabpanel',id='tramo'+z+'')
                      table.table.table-responsive(style="width:90%;margin:0 auto;background:#fff")
                        thead
                          tr
                            td N°
                            td CODIGO
                            td DESCRIPCION ITEM
                            td UNIDAD
                            td CANTIDAD
                            td PRECIO UNITARIO
                            td TOTAL
                        tbody
                          if tramos[z].estadoactividad==true
                              - for (var y=0;y<tramos[z].codsam.length;y++)
                                if y%2
                                  tr.info
                                    td #{y+1}
                                    td(id="codsama") #{tramos[z].codsam[y]}
                                    td(id="descripciona") #{tramos[z].descripcionsam[y]}
                                    td(id="unidada") #{tramos[z].unidadsam[y]}
                                    td(id="cantidada") #{tramos[z].cantidad[y]}
                                    td(id="precioa") #{tramos[z].presiounitario[y]}
                                    td(id="totala") #{tramos[z].cantidad[y]*tramos[z].presiounitario[y]}
                                else
                                  tr
                                    td #{y+1}
                                    td(id="codsama") #{tramos[z].codsam[y]}
                                    td(id="descripciona") #{tramos[z].descripcionsam[y]}
                                    td(id="unidada") #{tramos[z].unidadsam[y]}
                                    td(id="cantidada") #{tramos[z].cantidad[y]}
                                    td(id="precioa") #{tramos[z].presiounitario[y]}
                                    td(id="totala") #{tramos[z].cantidad[y]*tramos[z].presiounitario[y]}
                          else
                            .row(style='background:#fff;width:80%;margin:0 auto')
                              .col-md-12
                                .alert.alert-danger.alert-dismissible(role='alert',id='alertaSamError',style='margin:20px;')
                                  button.close(type='button', data-dismiss='alert', aria-label='Close')
                                    span(aria-hidden='true') ×
                                  strong NO SE ENCONTRARON RESULTADOS!
                                  |  Aun no se registro las actividades para esta residencia.. Pongase en contacto con el encargado de residencia.
              else
                .row(style='background:#fff;width:80%;margin:0 auto')
                  .col-md-12
                    .alert.alert-danger.alert-dismissible(role='alert',id='alertaSamError',style='margin:20px;')
                      button.close(type='button', data-dismiss='alert', aria-label='Close')
                        span(aria-hidden='true') ×
                      strong NO SE ENCONTRARON RESULTADOS!
                      |  Aun no se registro las actividades para esta residencia.. Pongase en contacto con el encargado de residencia.
      #personal.tab-pane(role='tabpanel')
        h1.resultadoRegistroVehiculo(style='display:none') #{estado}
        .row(style='background:#fff;padding-bottom:20px;')
          .col-md-12(style='margin-top:20px')
            table.table.table-responsive(style="width:95%;margin:0 auto;background:#fff")
              thead
                tr
                  td N°
                  td PERFIL
                  td NOMBRES Y APELLIDOS
                  td CONTRATO (meses)
                  td SUELDO MENSUAL
                  td SUELDO ANUAL
                  td OBSERVACIONES
                  td ESTADO
              tbody#tablaasignacionpersonal
                if personal[0].estado == true
                  - for (var x=0;x<personal.length;x++)
                    if x%2
                      tr(value=personal[x].idusuario,data-toggle="modal" class="info" data-target="#ModalReasignarUser")
                        td #{x+1}
                        td(id="perfilp",value=personal[x].codigoperfil) #{personal[x].perfil}
                        td(id="nombresp") #{personal[x].nombres}
                        td 12
                        td(id="sueldop") #{personal[x].sueldo}
                        td(id="sueldoanualp") #{personal[x].sueldo*12}
                        td(id="observacionesp") #{personal[x].observaciones}
                        td(id="estadop") #{personal[x].estadouser}
                    else
                      tr(value=personal[x].idusuario,data-toggle="modal" data-target="#ModalReasignarUser")
                        td #{x+1}
                        td(id="perfilp",value=personal[x].codigoperfil) #{personal[x].perfil}
                        td(id="nombresp") #{personal[x].nombres}
                        td 12
                        td(id="sueldop") #{personal[x].sueldo}
                        td(id="sueldoanualp") #{personal[x].sueldo*12}
                        td(id="observacionesp") #{personal[x].observaciones}
                        td(id="estadop") #{personal[x].estadouser}
                else
                  .row(style='background:#fff')
                    .col-md-8.col-md-offset-2
                      .alert.alert-danger.alert-dismissible(role='alert',id='alertaSamError',style='margin:20px;')
                        button.close(type='button', data-dismiss='alert', aria-label='Close')
                          span(aria-hidden='true') ×
                        strong NO SE ENCONTRARON RESULTADOS!
                        |  Aun no se registro Personal para esta residencia.. Pongase en contacto con el encargado de residencia. 
        .row(style='background:#fff;padding-bottom:20px') 
          .col-md-12
            .col-md-4.col-md-offset-2
              a(class="btn" href="#ContentAsignarUser" role="button",id='btnradioRojo',style='width:70%;text-align:center;margin: 0 auto;display:block;') ASIGNAR PERSONAL
            .col-md-4
              a(class="btn" href="#nuevaResidenciaMapa" role="button",id='btnradioRojo',style='width:70%;text-align:center;margin: 0 auto;display:block;') MODIFICAR ASIGNACION
        .row(style='background:rgba(58, 148, 240, 0.8);padding-bottom:50px;',id='ContentAsignarUser')
          .col-md-12
            .form-horizontal(style='margin-top:30px;',id='formAsignarUser')
              .form-group
                h1(style='color:#fff;font-weight:600;margin-bottom:20px') ASIGNACION DE PERSONAL
              - for(var i=0;i<13;i++)
                    if i==0
                        table.table(style='width:70%;margin:0 auto;background:#fff',id='asignar')
                          thead(style='background: #000')
                            td PERFIL
                            td NOMBRES
                          tbody
                            td
                              .form-group.has-error.has-feedback(style='margin-bottom: 0',id='columna'+i+'')
                                .col-sm-12
                                  select.form-control.input-lg(type='text', name='unidad',value=i)
                                    option Seleccione Perfil
                                    if codigospersonal[0].estado==true
                                      - for (var y=0;y<codigospersonal[0].codigo.length;y++)
                                        option(value=codigospersonal[0].codigo[y]) #{codigospersonal[0].descripcion[y]}
                            td
                              .form-group.has-error.has-feedback(style='margin-bottom: 0',id='columnanombre'+i+'')
                                .col-sm-12
                                  input.form-control.input-lg.grupo2(type='text', placeholder='Ejemplo: Limbert Arando Benavides',name="cantidad",data-toggle='modal', data-target='#ModalAsignarUser',id='nombre'+i+'')
                                  span(class="glyphicon glyphicon-remove form-control-feedback")
                    else
                        table.table(style='width:70%;margin:0 auto;background:#fff;display:none',class='tabla'+i+'',id='asignar')
                          thead(style='background: #000')
                            td PERFIL
                            td NOMBRES
                          tbody
                            td
                              .form-group.has-error.has-feedback(style='margin-bottom: 0',id='columna'+i+'')
                                .col-sm-12
                                  select.form-control.input-lg(type='text', name='unidad',value=i)
                                    option Seleccione Perfil
                                    if codigospersonal[0].estado==true
                                      - for (var y=0;y<codigospersonal[0].codigo.length;y++)
                                        option(value=codigospersonal[0].codigo[y]) #{codigospersonal[0].descripcion[y]}
                            td
                              .form-group.has-error.has-feedback(style='margin-bottom: 0',id='columnanombre'+i+'')
                                .col-sm-12
                                  input.form-control.input-lg.grupo2(type='text', placeholder='Ejemplo: Limbert Arando Benavides',name="cantidad",data-toggle='modal', data-target='#ModalAsignarUser',id='nombre'+i+'')
                                  span(class="glyphicon glyphicon-remove form-control-feedback")
                    .row(style='margin:5px')
                        .col.md-12
              
              .form-group(style='margin-top:20px')
                .col-sm-offset-5.col-sm-10
                  button.btn.btn-danger.disabled.btn-lg(type='button' id='btnAsignarUser' data-loading-text="Enviando Registro..." autocomplete="off") ASIGNAR PERSONAL
        #ModalReasignarUser.modal.fade(tabindex='-1',role='dialog',aria-labelledby='myModalLabel')
          .modal-dialog(role='document')
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
                h4#myModalLabel.modal-title.titulomodalpersonal
              .modal-body(style='height:100%')
                label.col-sm-3.control-label(style='padding-left:0;padding-right:0;padding-top:20px') Perfil
                .col-sm-9(style='padding-left:0;padding-right:0;padding-top:10px')
                  select.form-control.input-lg(type='text', id='perfilpp')
                    if codigospersonal[0].estado==true
                      - for (var y=0;y<codigospersonal[0].codigo.length;y++)
                        option(value=codigospersonal[0].codigo[y]) #{codigospersonal[0].descripcion[y]}
                label.col-sm-3.control-label(style='padding-left:0;padding-right:0;padding-top:20px') Estado
                .col-sm-9(style='padding-left:0;padding-right:0;padding-top:10px;padding-bottom:10px')
                  select.form-control.input-lg(type='text', id='estadopp')
                    option Activo
                    option Vacación
                    option De Baja
                label.col-sm-3.control-label(style='padding-left:0;padding-right:0;padding-top:20px') Observaciones
                .col-sm-9(style='padding:0')
                    input.form-control.observacionP.input-lg(type='text', placeholder='Escriba las observaciones en cuanto a este usuario')
              .modal-footer
                button.btn.btn-primary.btnguardareditarperson(type='button' disabled) Guardar cambios
                button.btn.btn-danger.btneliminareditarperson(type='button') Eliminar

        #ModalAsignarUser.modal.fade.bs-example-modal-sm(tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel')
          .modal-dialog.modal-sm(role='document')
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
                h4#myModalLabel.modal-title SELECCIONE UN USUARIO
              .modal-body
                .list-group
                    if usuarios[0].estado == true
                      - for (var x=0;x<usuarios[0].idusuario.length;x++)
                          a.list-group-item(value=''+usuarios[0].idusuario[x]+'',data-dismiss='modal') #{usuarios[0].nombre[x]}
                    else
                      .col-md-12(style='padding:0px;')
                        .alert.alert-danger(role='alert',id='alertaSamError',style='margin:0px;')
                          strong NO SE ENCONTRARON RESULTADOS!
                            |  No existe Personal disponibles para asignar a esta residencia...
              .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Cancelar

      #vehiculos.tab-pane(role='tabpanel')
        h1.resultadoRegistroVehiculo(style='display:none') #{estado}
        .row(style='background:#fff;padding-bottom:30px;padding-top:30px') 
          table.table.table-responsive(style="width:95%;margin:0 auto;background:#fff")
            thead
              tr
                td N°
                td N° INTERNO
                td UNIDAD
                td CHOFER U OPERADOR
                td PERFIL
                td OBSERVACIONES
            tbody#tablaasignacionvehiculo
              if vehiculos[0].respuesta == true
                - for (var x=0;x<vehiculos.length;x++)
                  if x%2
                    tr(value=vehiculos[x].idequipo,data-toggle="modal" class="info" data-target="#ModalReasignarCar")
                      td #{x+1}
                      td(id="codinternov") #{vehiculos[x].codinterno}
                      td(id="tipov") #{vehiculos[x].tipo}
                      td(id="encargadov") #{vehiculos[x].encargado}
                      td(id="estadov") #{vehiculos[x].estado}
                      td(id="observacionesv") #{vehiculos[x].observaciones}
                  else
                    tr(value=vehiculos[x].idequipo,data-toggle="modal" data-target="#ModalReasignarCar")
                      td #{x+1}
                      td(id="codinternov") #{vehiculos[x].codinterno}
                      td(id="tipov") #{vehiculos[x].tipo}
                      td(id="encargadov") #{vehiculos[x].encargado}
                      td(id="estadov") #{vehiculos[x].estado}
                      td(id="observacionv") #{vehiculos[x].observaciones}
              else  
                .row(style='background:#fff')
                  .col-md-8.col-md-offset-2
                    .alert.alert-danger.alert-dismissible(role='alert',id='alertaSamError',style='margin:20px;')
                      button.close(type='button', data-dismiss='alert', aria-label='Close')
                        span(aria-hidden='true') ×
                      strong NO SE ENCONTRARON RESULTADOS!
                      |  Aun no se registro vehiculos para esta residencia.. Pongase en contacto con el encargado de residencia.
        .row(style='background:#fff;padding-bottom:20px') 
          .col-md-12
            .col-md-4.col-md-offset-2
              a(class="btn" href="#nuevaResidenciaMapa" role="button",id='btnradioRojo',style='width:70%;text-align:center;margin: 0 auto;display:block;') ASIGNAR VEHICULOS
            .col-md-4
              a(class="btn" href="#nuevaResidenciaMapa" role="button",id='btnradioRojo',style='width:70%;text-align:center;margin: 0 auto;display:block;') MODIFICAR ASIGNACION
        .row(style='background:rgba(58, 148, 240, 0.8);padding-bottom:50px;')
          .col-md-12
            .form-horizontal(style='margin-top:30px;',id='formVehiculo')
              .form-group
                h1(style='color:#fff;font-weight:600;margin-bottom:20px') ASIGNACION DE VEHICULOS
              - for(var i=0;i<10;i++)
                    if i==0
                        table.table(style='width:70%;margin:0 auto;background:#fff',id='asignarcar')
                          thead(style='background: #000')
                            tr
                              td CODIGO INTERNO
                          tbody
                            tr
                              td
                                .form-group.has-error.has-feedback(style='margin-bottom: 0',id='columnacar'+i+'')
                                  .col-sm-12
                                    input.form-control.input-lg(type='text', placeholder='Ejemplo: PPDP-50',data-toggle='modal', data-target='#myModalcar',id='car'+i+'')
                                    span(class="glyphicon glyphicon-remove form-control-feedback")
                    else
                        table.table(style='width:70%;margin:0 auto;background:#fff;display:none',class='tablacar'+i+'',id='asignarcar')
                          thead(style='background: #000')
                            tr
                              td CODIGO INTERNO
                          tbody
                            tr
                              td
                                .form-group.has-error.has-feedback(style='margin-bottom: 0',id='columnacar'+i+'')
                                  .col-sm-12
                                    input.form-control.input-lg(type='text', placeholder='Ejemplo: PPDP-50',data-toggle='modal', data-target='#myModalcar',id='car'+i+'')
                                    span(class="glyphicon glyphicon-remove form-control-feedback")
                    .row(style='margin:5px')
                        .col.md-12

              .form-group(style='margin-top:20px')
                .col-sm-offset-5.col-sm-10
                  button.btn.btn-danger.disabled.btn-lg(type='button' id='btnAsignarVehiculos' data-loading-text="Enviando Registro..." autocomplete="off") ASIGNAR VEHICULOS
        #myModalcar.modal.fade.bs-example-modal-sm(tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel')
          .modal-dialog.modal-sm(role='document')
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
                h4#myModalLabel.modal-title SELECCIONE UN VEHICULO
              .modal-body
                .list-group
                  if equipos[0].estado == true
                    - for (var x=0;x<equipos[0].idequipo.length;x++)
                        a.list-group-item(value=''+equipos[0].idequipo[x]+'',data-dismiss='modal') #{equipos[0].codinterno[x]}
                  else
                    .col-md-12(style='padding:0px;')
                      .alert.alert-danger(role='alert',id='alertaSamError',style='margin:0px;')
                        strong NO SE ENCONTRARON RESULTADOS!
                          |  No existe vehiculos disponibles para asignar a esta residencia...
              .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Cancelar
        #ModalReasignarCar.modal.fade(tabindex='-1',role='dialog',aria-labelledby='myModalLabel')
          .modal-dialog(role='document')
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
                h4#myModalLabel.modal-title.titulomodalvehiculo
              .modal-body(style='height:100%')
                label.col-sm-3.control-label(style='padding-left:0;padding-right:0;padding-top:20px') Estado
                .col-sm-9(style='padding-left:0;padding-right:0;padding-top:10px;padding-bottom:10px')
                  select.form-control.input-lg(type='text', id='estadovv')
                    option Activo
                    option De Baja
                label.col-sm-3.control-label(style='padding-left:0;padding-right:0;padding-top:20px') Observaciones
                .col-sm-9(style='padding:0')
                    input.form-control.observacionvv.input-lg(type='text', placeholder='Escriba observaciones de este vehiculo')
              .modal-footer
                button.btn.btn-primary.btnguardareditarcar(type='button' disabled) Guardar cambios
                button.btn.btn-danger.btneliminareditarcar(type='button') Eliminar

      #materiales.tab-pane(role='tabpanel')
        h1.resultadoRegistroVehiculo(style='display:none') #{estado}
        .row(style='background:#fff;padding-bottom:30px;padding-top:30px') 
          table.table.table-responsive(style="width:95%;margin:0 auto;background:#fff")
                thead
                  tr
                    td N°
                    td MATERIALES Y SUMINISTROS
                    td UNIDAD DE MEDIDA
                    td CANTIDAD
                    td PRECIO UNITARIO
                    td MONTO
                tbody#tablaasignacionmaterial
                  if materiales[0].estado == true
                    - for (var x=0;x<materiales[0].idmaterial.length;x++)
                      if x%2
                        tr(value=materiales[0].idmaterial[x],data-toggle="modal" class="info" data-target="#ModalReasignarMaterial")
                          td #{x+1}
                          td(id="descripcionm") #{materiales[0].descripcion[x]}
                          td(id="unidadm") #{materiales[0].unidaddemedida[x]}
                          td(id="cantidadm") #{materiales[0].cantidad[x]}
                          td(id="preciounitariom") #{materiales[0].presiounitario[x]}
                          td(id="montom") #{materiales[0].monto[x]}
                      else
                        tr(value=materiales[0].idmaterial[x],data-toggle="modal" data-target="#ModalReasignarMaterial")
                          td #{x+1}
                          td(id="descripcionm") #{materiales[0].descripcion[x]}
                          td(id="unidadm") #{materiales[0].unidaddemedida[x]}
                          td(id="cantidadm") #{materiales[0].cantidad[x]}
                          td(id="preciounitariom") #{materiales[0].presiounitario[x]}
                          td(id="montom") #{materiales[0].monto[x]}
                  else
                    .row(style='background:#fff')
                      .col-md-8.col-md-offset-2
                        .alert.alert-danger.alert-dismissible(role='alert',id='alertaSamError',style='margin:20px;')
                          button.close(type='button', data-dismiss='alert', aria-label='Close')
                            span(aria-hidden='true') ×
                          strong NO SE ENCONTRARON RESULTADOS!
                          |  Aun no se registro materiales para esta residencia. Registre materiales para su respectivo funcionamiento. 
        .row(style='background:rgba(240, 58, 66, 0.8);padding-bottom:50px;')
          .col-md-12
            .form-horizontal(style='margin-top:30px;',id='formMateriales')
              .form-group
                h1(style='color:#fff;font-weight:600;margin-bottom:20px') NUEVO MATERIAL Y SUMINISTRO
              .form-group.material1.has-error.has-feedback.formulariomateriales
                label.col-sm-2.col-sm-offset-2.control-label materiales - suminitros
                .col-sm-5
                  select.form-control.input-lg(type='text', name='nombrematerial')
                    option Seleccione Material
                    if codigosmaterial[0].estado==true
                      - for (var y=0;y<codigosmaterial[0].codigo.length;y++)
                        option(value=codigosmaterial[0].codigo[y]) #{codigosmaterial[0].descripcion[y]}  
              .form-group.material2.has-error.has-feedback.formulariomateriales
                    label.col-sm-2.col-sm-offset-2.control-label UNIDAD
                    .col-sm-5
                      select.form-control.input-lg(type='text', name='unidad')
                        option Seleccione Unidad
                        option Raciones
                        option Global
                        option Unidad
                        option Piezas
                        option Pares
                        option Litros
                        option P
                        option Unidad/Pares
                        option Caja
              .form-group.material3.has-error.has-feedback.formulariomateriales
                label.col-sm-2.control-label.col-sm-offset-2 cantidad
                .col-sm-5
                  input.form-control.input-lg(type='number', placeholder='Ejemplo: 10')
                  span(class="glyphicon glyphicon-remove form-control-feedback")
              .form-group.material4.has-error.has-feedback.formulariomateriales
                label.col-sm-2.control-label.col-sm-offset-2 precio unitario
                .col-sm-5
                  input.form-control.input-lg(type='number', placeholder='Ejemplo: 150.00',name="preciounitario")
                  span(class="glyphicon glyphicon-remove form-control-feedback")
              .form-group
                .col-sm-offset-4.col-sm-10
                  button.btn.btn-warning.disabled.btn-lg(type='button' id='btnRegistromaterial' data-loading-text="Enviando Registro..." autocomplete="off",style='margin-top:30px;margin-bottom:30px') REGISTRAR MATERIAL
        #ModalReasignarMaterial.modal.fade(tabindex='-1',role='dialog',aria-labelledby='myModalLabel')
          .modal-dialog(role='document')
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
                h4#myModalLabel.modal-title.titulomodalmaterial
              .modal-body(style='height:100%')
                label.col-sm-3.control-label(style='padding-left:0;padding-right:0;padding-top:20px') Unidad
                .col-sm-9(style='padding-left:0;padding-right:0;padding-top:10px;padding-bottom:10px')
                  select.form-control.input-lg(type='text', id='unidadmm')
                    option Raciones
                    option Global
                    option Unidad
                    option Piezas
                    option Pares
                    option Litros
                    option P
                    option Unidad/Pares
                    option Caja
                label.col-sm-3.control-label(style='padding-left:0;padding-right:0;padding-top:20px') Cantidad
                .col-sm-9(style='padding-left:0;padding-right:0;padding-top:10px;padding-bottom:10px')
                    input.form-control.cantidadmm.input-lg(type='number', placeholder='Solo se admite numeros')
                label.col-sm-3.control-label(style='padding-left:0;padding-right:0;padding-top:20px') Precio Unitario
                .col-sm-9(style='padding-left:0;padding-right:0;padding-top:10px;padding-bottom:10px')
                    input.form-control.preciomm.input-lg(type='number', placeholder='Solo se admite numeros')
              .modal-footer
                button.btn.btn-primary.btnguardareditarM(type='button' disabled) Guardar cambios
                button.btn.btn-danger.btneliminareditarM(type='button') Eliminar
      #servicios.tab-pane(role='tabpanel')
        h1.resultadoRegistroVehiculo(style='display:none') #{estado}
        .row(style='background:#fff;padding-bottom:30px;padding-top:30px') 
          table.table.table-responsive(style="width:95%;margin:0 auto;background:#fff")
                thead
                  tr
                    td N°
                    td SERVICIOS NO PERSONALES
                    td PRECIO UNITARIO
                    td MONTO
                tbody
                  if servicios[0].estado==true
                    - for (var x=0;x<servicios[0].idservicio.length;x++)
                      if x%2
                        tr(value=servicios[0].idservicio[x],data-toggle="modal" class="info" data-target="#modalUser")
                          td #{x+1}
                          td(id="descripcions") #{servicios[0].descripcion[x]}
                          td(id="presiounitarios") #{servicios[0].preciounitario[x]}
                          td(id="montos") #{servicios[0].monto[x]}
                      else
                        tr(value=servicios[0].idservicio[x],data-toggle="modal" data-target="#modalUser")
                          td #{x+1}
                          td(id="descripcions") #{servicios[0].descripcion[x]}
                          td(id="presiounitarios") #{servicios[0].preciounitario[x]}
                          td(id="montos") #{servicios[0].monto[x]}
                  else
                    .row(style='background:#fff')
                      .col-md-8.col-md-offset-2
                        .alert.alert-danger.alert-dismissible(role='alert',id='alertaSamError',style='margin:20px;')
                          button.close(type='button', data-dismiss='alert', aria-label='Close')
                            span(aria-hidden='true') ×
                          strong NO SE ENCONTRARON RESULTADOS!
                          |  Aun no se registro servicios para esta residencia. Registre materiales para su respectivo funcionamiento. 
        .row(style='background:rgba(240, 58, 66, 0.8);padding-bottom:50px;')
          .col-md-12
            .form-horizontal(style='margin-top:30px;',id='formServicios')
              .form-group
                h1(style='color:#fff;font-weight:600;margin-bottom:20px') NUEVO REQUERIMIENTO DE SERVICIOS
              .form-group.servicio1.has-error.has-feedback.formularioservicios
                label.col-sm-2.col-sm-offset-2.control-label servicios no personales
                .col-sm-5
                  input.form-control.input-lg(type='text', placeholder='Ejemplo: Alimentos y bebidas para personas')
                  span(class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true")
              .form-group.servicio2.has-error.has-feedback.formularioservicios
                label.col-sm-2.control-label.col-sm-offset-2 precio unitario
                .col-sm-5
                  input.form-control.input-lg(type='number', placeholder='Ejemplo: 150.00')
                  span(class="glyphicon glyphicon-remove form-control-feedback")
              .form-group
                .col-sm-offset-4.col-sm-10
                  button.btn.btn-warning.disabled.btn-lg(type='button' id='btnRegistroservicio' data-loading-text="Enviando Registro..." autocomplete="off",,style='margin-top:30px;margin-bottom:30px') REGISTRAR SERVICIO
      #reportes.tab-pane(role='tabpanel')
        h1 REPORTES
    
    .row(style='background:#fff')
    script(src="/javascripts/bootstrap.min.js")
