extends layout2

block content
  .row(style='padding-top:100px')
    .col-md-2
      ul(class="nav nav-pills nav-stacked",style='background:#fff')
          li.active(role='presentation') 
            a(href='#todos', aria-controls='todos', role='tab', data-toggle='tab') TODOS
          if estadoresidencia==true
            - for (var x=0;x<residencias.length;x++)
                li(role='presentation')
                  a(href='#'+residencias[x].nombreres+'', aria-controls='acasio', role='tab', data-toggle='tab') #{residencias[x].nombreres}
    .col-md-10(style='padding:0')
      .tab-content(style='padding-top:30px;padding-bottom:30px')
        #todos.tab-pane.active(role='tabpanel')
          .sectionBuscador(style='background:#fff;padding:10px;margin-top:0')
              input.buscador(type='text',size='50', placeholder="Buscar Personal ...")
              #resultado
          li.app(id='variables')=nombres
          table.table.table-responsive(style="width:85%;margin:0 auto;background:#fff")
              thead
                tr
                  td CI
                  td NOMBRE COMPLETO
                  td CARGO
                  td UBICACION
              tbody.tablaV
                if estadouser==true
                  - for (var x=0;x<ci.length;x++)
                    if x%2
                      tr(value=idusuario[x],data-toggle="modal" class="info" data-target="#modalUser")
                        td(id="ciT") #{ci[x]}
                        td(id="nomT") #{nombres[x]}
                        td(id="cargT") #{cargo[x]}
                        if ubicacion[x]
                          td(id="ubicT") #{ubicacion[x]}
                        else
                          td(id="ubicT") No Asignado
                    else
                      tr(value=idusuario[x],data-toggle="modal" data-target="#modalUser")
                        td(id="ciT") #{ci[x]}
                        td(id="nomT") #{nombres[x]}
                        td(id="cargT") #{cargo[x]}
                        if ubicacion[x]
                          td(id="ubicT") #{ubicacion[x]}
                        else
                          td(id="ubicT") No Asignado
        - for (var x=0;x<residencias.length;x++)
            .tab-pane(role='tabpanel',id=residencias[x].nombreres)
              table.table.table-responsive(style="width:80%;margin:0 auto;background:#fff")
                  thead
                    tr
                      td CI
                      td NOMBRE COMPLETO
                      td CARGO
                      td UBICACION
                  tbody.tablaV
                    if estadoasignacion==true
                      if residencias[x].idusuario.length
                        - for (var y=0;y<residencias[x].idusuario.length;y++)
                          if y%2
                            tr(value=residencias[x].idusuario[y],data-toggle="modal" class="info" data-target="#modalUser")
                              td(id="ciT") #{residencias[x].ci[y]}
                              td(id="nomT") #{residencias[x].nombres[y]}
                              td(id="cargT") #{residencias[x].cargo[y]}
                              td(id="ubicT") #{residencias[x].nombreres}
                          else
                            tr(value=residencias[x].idusuario[y],data-toggle="modal" data-target="#modalUser")
                              td(id="ciT") #{residencias[x].ci[y]}
                              td(id="nomT") #{residencias[x].nombres[y]}
                              td(id="cargT") #{residencias[x].cargo[y]}
                              td(id="ubicT") #{residencias[x].nombreres}   
                      else
                        .row(style='background:#fff')
                            .col-md-8.col-md-offset-2
                              .alert.alert-danger.alert-dismissible(role='alert',id='alertaSamError',style='margin:20px;')
                                    button.close(type='button', data-dismiss='alert', aria-label='Close')
                                      span(aria-hidden='true') ×
                                    strong NO SE ENCONTRARON RESULTADOS!
                                    |  Aun no se asigno personal para esta residencia.
                    else
                      .row(style='background:#fff;width:80%;margin:0 auto')
                        .col-md-12
                          .alert.alert-danger.alert-dismissible(role='alert',id='alertaSamError',style='margin:20px;')
                                button.close(type='button', data-dismiss='alert', aria-label='Close')
                                  span(aria-hidden='true') ×
                                strong NO SE ENCONTRARON RESULTADOS!
                                |  Aun no se asigno personal para esta residencia.     
  include modalUsuario
  script(src="/javascripts/bootstrap.min.js")